<h1 class="title">Incomming Events</h1>
       <div class="card__container">

        <% @events.future_events.each do | event |%>
          <div class="event__card" <%= ' Current User' if event.creator == current_user %> >
                <p class="event__title"><%=event.creator.username%> - <%= event.name %>  </p>

                    <% if event.private == true %>
                        <p><strong>Attendance:</strong>&nbsp; invite only</p>
                    <% else %>
                        <p><strong>Attendance:</strong>&nbsp; anyone</p>
                    <% end %>

                    <p><strong>Location:</strong><%= event.location %></p>
                    <p><strong>Date:</strong>

                      <%= event.date.in_time_zone("Asia/Manila").strftime("%B")[0,3] %>
                      <%= event.date.in_time_zone("Asia/Manila").strftime("%d") %>,
                      <%= event.date.in_time_zone("Asia/Manila").year %></p>
                    <p><%= link_to 'Expand', event, class: 'button' %> &nbsp; &nbsp;</p>
            </div>


                <% end %>
    </div>



